.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profileCard {
  border: 2px solid #303030;
  border-radius: 8px;
  width: 320px;
  overflow: hidden;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.image {
  border-radius: 50%;
  background-color: #303030;
  max-width: 128px;
}

.profileName {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.4;
}

.profileTag,
.profileLocation {
  font-size: 18px;
  color: #6a6a6a;
}

.statsList {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5d5d5;
  border-top: 2px solid #8a8a8a;
}

.statsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: calc((100%) / 3);
  font-size: 18px;
}

.statsItem:not(:last-child) {
  border-right: 2px solid #8a8a8a;
}

.statsNumber {
  font-weight: 700;
}
