#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.overlayOpen {
  opacity: 1;
}

.overlayClose {
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  overflow: hidden;
  outline: none;
}

.body {
  overflow: hidden;
}

.endMessageText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  max-width: 1200px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 24px;
  font-weight: 500px;
}
