.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 320px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.formElementWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.label {
  margin-right: auto;
}

.input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  outline: none;
}

.errorMessage {
  color: #da0000;
  position: absolute;
  bottom: 7px;
  left: 320px;
  text-wrap: nowrap;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.personAddIcon {
  width: 20px;
  height: 20px;
}
