.friendListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.friendList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.friendCard {
  border: 2px solid #303030;
  border-radius: 8px;
  padding: 12px;
}
