.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table {
  border-collapse: collapse;
  border: 1px solid black;
}

.tableHead {
  background-color: #303030;
  color: azure;
}

.tableHeadRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tableHeadElement {
  display: flex;
  justify-content: flex-start;
  padding-left: 32px;
  padding-right: 32px;
}
