.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #00cdff;
  cursor: pointer;
}
